:root {
  --primar-color: #FFFFFF;
  --second-color: #393A40;
  --third-color: #1D6362;
  --quarter-color: #1a1a1a;
}


* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}


/* Fontes e cores base */
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 0 0 16px;
}


/* --------------------------------------------- INICIO HEADER ---------------------------------------------- */
.header {
  padding: 16px 0;

}


.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  padding-left: 19px;
  flex-wrap: nowrap;
}


.header-inner img {
  width: 36px;
  height: 36px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}


.logo img {
  width: 35px;
  height: 35px;
  margin-left: 3px;
  margin-top: -5px;
}


.logo h1 {
  margin-left: 11px;
  font-weight: bold;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin-top: -5px;
}



.menu-mobile button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}



/* TAG Verde */
.header-information p {
  display: inline-block;
  background-color: #e6f4ec;
  color: #1e703c;
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 999px;
  margin-top: 40px;
  margin-left: 16px;
}


/* ------------------------------------------- INICO HERO --------------------------------------------------------------- */

.hero-Content h2 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 17px;
  margin-left: 19px;
}



.hero-Content p {
  font-size: 16px;
  color: #7c818a;
  margin-bottom: 24px;
  line-height: 1.5;
  margin-left: 19px;
  text-align: left;
  max-width: 355px;
}



/* BOTÕES */
.hero-Content ul {
  display: flex;
  gap: 12px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 32px;
  margin-left: 19px;
}


.hero-Content ul li a {
  display: inline-block;
  padding: 18px 36px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s ease;
}



.hero-Content ul li:first-child a {
  background-color: #0f5b5a;
  color: white;
}



.hero-Content ul li:last-child a {
  background-color: transparent;
  color: #0f5b5a;
  border: 1px solid #d1d5db;
}

.hero-image {
  margin-left: 14px;
  margin-bottom: 40px;

}

/* ------------------------------------------- INICO Part1 --------------------------------------------------------------- */
.part1 {
  background-color: #0F5B5A;
  color: white;
  padding: 40px 20px;
}


/* Título central */
.primar-text h2 {
  font-size: 30px;
  margin-bottom: 14px;
  margin-left: 3px;
}


.primar-text .subtitle {
  font-size: 17px;
  color: #d1d5db;
  margin-bottom: 32px;
  line-height: 1.6;
  margin-left: 3px;
}

.secont-text h3 {
  font-size: 20px;
  max-width: 280px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 3px;
}

.part1 p {
  font-size: 17px;
  color: #d1d5db;
  margin-bottom: 32px;
  line-height: 1.6;
  margin-left: 3px;
}


/* Cada item */
.part1>div:not(.Menu-meio) {
  margin-bottom: 32px;
}



.part1 img {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  margin-bottom: 16px;
}



/* ------------------------------------------- INICO Part2 --------------------------------------------------------------- */
.par2 {
  background-color: #ffffff;
  padding: 40px 0px;
  text-align: center;
}



.par2 .menu img {
  width: 320px;
  border-radius: 12px;
  margin-bottom: 34px;
  margin-top: 20px;
  align-items: center;
  margin-left: 8px;
}


.par2 .menu h2 {
  font-size: 34px;
  max-width: 330px;
  margin-bottom: 12px;
  margin-left: 20px;
  text-align: left;
}



/* Parágrafo */
.par2 .menu p {
  font-size: 17px;
  max-width: 330px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 28px;
  text-align: left;
  margin-left: 20px;
}




/* Botão Explore Now */
.button-menu-1 h4 {
  background-color: #0f5b5a;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-flex;
  gap: 8px;
  margin-right: 145px;
  margin-bottom: 80px;
}

.button-menu-2 h4 {
  background-color: #0f5b5a;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: inline-flex;
  gap: 8px;
  margin-right: 145px;
}



/* Seta para a direita opcional (→) */

.par2 .menu h4::after {
  content: "→";
  font-size: px;
  font-weight: 300px;
}

/* Efeito hover */
.par2 .menu button:hover {
  background-color: #0b4948;
}



/* ------------------------------------------- INICO Part3 --------------------------------------------------------------- */
.part3 {
  background-color: #e6f4ec;
  background-image: url(/Imagens/Companies\ -\ Mobile.png);
  background-size: cover;
  text-align: center;
  padding: 60px 20px;
}



.part3 .color-h2 {
  color: var(--third-color);
  font-weight: 700;
}



.part3 .Menu-Part3 h2 {
  font-size: 32px;
  max-width: 335px;
  font-weight: 700;

  margin-bottom: 16px;

}



.part3 .Menu-Part3 h2 span,
.part3 .Menu-Part3 h2 strong {
  color: var(--third-color);
}


.part3 .Menu-Part3 p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 40px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}


.part3 .Menu-Part3 img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  margin-right: 20px;
}




/* ------------------------------------------- INICO Menu-toggle --------------------------------------------------------------- */
#menu-toggle {
  font-size: 2rem;
  font-weight: bold;
  border: 0;
  background-color: var(--primar-color);
}


/* ------------------------------------------- INICO FOOTER --------------------------------------------------------------- */
.footer {
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #003D3B;
  text-align: center;
  border-top: 1px solid #eaeaea;
}


.footer-newsletter h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
  color: #0B5B5A;
}



.newsletter-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 300px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 0.9rem;
}



.footer-links a {
  color: #003D3B;
  text-decoration: none;
}



.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}



.footer-social a {
  color: #003D3B;
  font-size: 1.2rem;
  text-decoration: none;
}



.hero-section {
  padding: 40px 20px 20px;
  text-align: center;
}



.hero-section h2 {
  font-size: 29px;
  font-weight: bold;
  color: #1A1A1A;
  margin-bottom: 16px;
  max-width: 335px;
  margin-top: -25px;
}



.hero-section p {
  text-align: center;
  color: #7a8591;
  font-size: 14px;
  line-height: 1.5;
  max-width: 355px;
  margin-bottom: 20px;
}



.explore-btn {
  background-color: #1E5D5B;
  color: white;
  border: none;
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
}



.explore-btn .arrow {
  margin-left: 8px;
}



.cta-section {
  text-align: center;
  margin: 50px 0;
}



.cta-section img {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}



.cta-section h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 16px;
  color: #1D6F6F;
}


.get-started-btn {
  background-color: #1E5D5B;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 40px;
}

.subscribe-section h3 {
  text-align: left;
  font-size: 26px;
  margin-bottom: 25px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-right: 70px;

}

.newsletter-form button {
  background-color: #1D6F6F;
  border: none;
  margin-left: 20px;
  color: white;
  font-size: 1.6rem;
  padding: 10px 17px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.footer-bottom {
  margin-top: 60px;

}

.footer-links-bottom {
  align-items: center;
  margin-bottom: 35px;
}

.footer-links-bottom a {
  color: var(--quarter-color);
  padding-left: 20px;
  text-decoration: none;
  margin-right: 25px;
}

.footer-social-media {
  align-items: center;
  padding-left: 14px;
}

.footer-social-media a {
  padding-left: 15px;
  margin-right: 20px;
}


/* ------------------------------------------- INICO Mobile --------------------------------------------------------------- */
@media (max-width: 768px) {
  .footer-column {
    display: none;
  }

  .menu-desktop {
    display: none;
  }

  .Desktop-img {
    display: none;
  }
}



/* ------------------------------------------- INICO Desktop --------------------------------------------------------------- */
@media (min-width: 769px) {

  .menu-mobile {
    display: none;
    /* Esconde o botão do mobile */
  }

  /* -------------------------- Inicio Menu-Desktop --------------------------- */

  .menu-desktop {
    align-items: center;
  }

  .menu-desktop ul li:last-child {
    margin-left: 60px;
    /* distância extra antes do último item */
  }


  .menu-desktop ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;

  }


  .menu-desktop ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }


  .menu-desktop span {
    color: var(--third-color);
  }



  .menu-desktop a:hover {
    font-weight: 700;
    color: var(--third-color);
  }

  .header-information {
    position: relative;
    top: 45px;
    left: 46px;
  }

  .hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  .hero-Wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero-Content {
    /* Seus estilos atuais para o conteúdo */
    max-width: 612px;
    margin: 45px;
  }


  .hero-image img {
    width: 600px;
    height: auto;

  }


  .hero-Content h2 {
    font-size: 68px;
    text-align: left;
    max-width: 612px;

  }

  .hero-Content p {
    font-size: 20px;
    text-align: left;
    max-width: 510px;
  }

  /* -------------------------- Inicio Part1 --------------------------- */


  .part1 .primar-text h2,
  .part1 .primar-text p,
  .part1 .secont-text h3,
  .part1 .secont-text p,
  .support-item {
    padding-left: 30px;
  }



  .part1 .primar-text h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 784px;
    margin-bottom: 20px;
    margin-top: 45px;
  }

  .part1 .primar-text p {
    font-size: 19px;
    max-width: 488px;
  }

  .part1 .subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .support-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 35px;

  }

  .support-item img {
    width: 70px;
    height: 70px;
    margin-top: 19px;
  }

  .part1 .secont-text {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }



  .part1 .secont-text h3 {
    font-size: 32px;
    max-width: 280px;

  }

  .part1 .secont-text p {
    font-size: 18px;
    max-width: 331px;
  }

  /* -------------------------- Inicio Part2 --------------------------- */

  .mobile-img {
    display: none;
  }


  .image-menu {
    max-width: 579px;
    width: auto;
    margin-right: 115px;
    margin-left: 75px;
  }


  .image-menu2 {
    max-width: 579px;
    width: auto;
    order: 999;
    margin-left: 97px;

  }

  .menu {
    display: flex;
  }


  .par2 .menu-text h2 {
    max-width: 500px;
    font-size: 48px;
    text-align: left;
    margin-left: 35px;
  }


  .par2 .menu-text p {
    font-size: 17px;
    max-width: 402px;
    text-align: left;
    margin-left: 35px;
  }


  .par2 .menu-text-2 h2 {
    max-width: 500px;
    font-size: 48px;
    text-align: left;
    margin-left: 90px;
  }

  .par2 .menu-text-2 p {
    font-size: 17px;
    max-width: 541px;
    text-align: left;
    margin-left: 90px;

  }

  .button-menu-1 h4 {
    background-color: #1F6B68;
    color: white;
    padding: 15px 50px;
    margin-left: 33px;
    margin-right: 350px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;/
  }

  .button-menu-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .button-menu-2 h4 {
    background-color: #1F6B68;
    color: white;
    padding: 15px 50px;
    margin-left: -33px;
    margin-right: 190px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;


  }

  .button-menu-2 h4:hover {
    background-color: #195a57;
  }

  .button-menu-2 .arrow {
    font-size: 36px;
  }

  /* -------------------------- Inicio Part3 --------------------------- */



  .part3 .part3-img {
    order: 999;
    max-width: 493px;
    height: auto;
    margin-right: 30px;
    width: 1500px;
    height: auto;
  }



  .Menu-Part3 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }


  .part3 .menu-text h2 {
    max-width: 712px;
    max-height: auto;
    font-size: 51px;
    text-align: left;
    margin: 0;
  }



  .part3 .menu-text p {
    max-width: 410px;
    max-height: auto;
    text-align: left;
    font-size: 16px;
    margin-right: 300px;
    margin-top: 11px;
  }

  /* -------------------------- Inicio Footer --------------------------- */

  .footer {
    background-color: #f9fbfb;
    padding: 60px 20px;
    font-family: sans-serif;
    color: #1a1a1a;
  }

  /* ---- HERO SECTION ---- */
  .footer .hero-section {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 60px;
  }

  .footer .hero-section h2 {
    max-width: 902px;
    font-size: 43px;
    font-weight: 850;
    margin-bottom: 16px;
  }

  .footer .hero-section p {
    max-width: 626px;
    font-size: 17px;
    margin-bottom: 24px;
  }

  .footer .explore-btn {
    background-color: #0b5b5a;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }

  .footer .explore-btn .arrow {
    margin-left: 13px;
  }




  /* ---- CTA SECTION ---- */
  .footer .cta-section {
    display: flex;
    align-items: center;
    padding: 32px 0;
    border-bottom: 1px solid #e4e9e9;
  }

  .cta-section h2 {
    font-size: 19px;
    text-align: center;
    justify-content: center;
    margin-top: 12px;
    font-weight: normal;
    margin-bottom: 16px;
    margin-left: 850px;
  }

  .footer .cta-section-img {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    margin-left: 96px;
  }

  .footer .cta-section .get-started-btn {
    margin-left: 30px;
    padding: 15px 25px;
  }

  .footer-row.footer-newsletter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4rem;
    margin-right: 5rem;
  }

  .subscribe-section {
    flex: 0 0 300px;
    max-width: 300px;
  }

  .subscribe-section h3 {
    max-width: 192px;
    margin-right: 100px;
    color: var(--quarter-color);
    font-size: 24px;
    text-align: left;
  }

  .newsletter-form {
    position: relative;
    max-width: 289px;
    height: 44px;
  }

  .footer-column {

    max-width: 520px;

  }

  .footer-column h3 {
    font-family: var(--font-body);
    font-size: 22px;
    color: var(--buttons-color);
    margin-bottom: 1rem;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column li {
    max-width: 180px;
    margin-bottom: 12px;
    margin-right: 100px;
    text-align: left;
    font-size: 16px;
  }

  .footer-column a {
    color: #000;
    text-decoration: none;
  }

  .footer-column a:hover {
    text-decoration: underline;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    margin: 0 2rem
  }

  .footer-links-bottom {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
  }

  .footer-links-bottom a {
    color: #000;
    text-decoration: none;
  }

  .footer-links-bottom a:hover {
    text-decoration: underline;
  }

  .footer-social-media {
    display: flex;
    gap: 1.5rem;
    margin-top: 4rem;
  }

  .footer-social-media img {
    width: 20px;
    height: 20px;
  }

}